<!-- Need to add interpolation for gameID -->
<h1 class="reversi" id="reversi" *ngIf="loggedIn()">Game #{{gameid}}</h1>
  <div class="container">
      <div class="gameboard">
<!--

The pieces are hidden/unhidden when the boardstate is received. Should be able to call the following for each element in boardstate

Route parameter: https://youtu.be/oa9cnWTpqP8?t=2408

Once classes are known, the variables can be updated and this implemented. Remove the 72 lines beneath it.

hidden divs could be *ngIf to make instead of hidden

workingGame is what returns to

<div *ngFor="let row of WTF IS THIS VARIABLE; #rowIdx = index">
    <div *ngFor="let col of WTF IS THIS VARIABLE; #colIdx = index" class="square" [attr.id]="{{#colIdx + #rowIdx}}">
        <div [class.hidden]="VARIABLE !== 1" class="whitepiece"></div>
        <div [class.hidden]="VARIABLE !== 2" class="blackpiece"></div>s.hidden]="VARIABLE !== 8" class="valid-move" (click)="clickMove(this)" (click)="sendMove()"></div>
    </div>
</div>

i: int; <-- which doesn't work I think. Might need Math.floor(i/8)

for (let i = 0; i < 64 ; i++) {
    let pieces = document.getElementById(""+i).getChildNodes();
    switch (GAMEBOARD[i/8][i%8].value) {
        case 0:
            pieces[0].hidden = true; //pieces[0].setAttribute(hidden, true);
            pieces[1].hidden = true;
            pieces[2].hidden = true;
            break;
        case 1:
            pieces[0].hidden = false;
            pieces[1].hidden = true;
            pieces[2].hidden = true;
            break;
        case 2:
            pieces[0].hidden = true;
            pieces[1].hidden = false;
            pieces[2].hidden = true;
            break;
        case 8:
            pieces[0].hidden = true;
            pieces[1].hidden = true;
            pieces[2].hidden = false;
            break;
        default:
            console.log("Received invalid value in WorkingGame["+(i/8)+"]["+(i%8)"]");
            break;
    }
}
let
getElementById("")

The sendMove() function needs to get the value of the element.

Thus, the value of the element needs to be assigned. This needs to be figured out.

-->
          <div class="row-a">
              <div class="square" id="0" ><div class="whitepiece"></div><div class="blackpiece"></div><div class="valid-move" (click)="clickMove( 0)"></div></div>
              <div class="square" id="1" ><div class="whitepiece"></div><div class="blackpiece"></div><div class="valid-move" (click)="clickMove( 1)"></div></div>
              <div class="square" id="2" ><div class="whitepiece"></div><div class="blackpiece"></div><div class="valid-move" (click)="clickMove( 2)"></div></div>
              <div class="square" id="3" ><div class="whitepiece"></div><div class="blackpiece"></div><div class="valid-move" (click)="clickMove( 3)"></div></div>
              <div class="square" id="4" ><div class="whitepiece"></div><div class="blackpiece"></div><div class="valid-move" (click)="clickMove( 4)"></div></div>
              <div class="square" id="5" ><div class="whitepiece"></div><div class="blackpiece"></div><div class="valid-move" (click)="clickMove( 5)"></div></div>
              <div class="square" id="6" ><div class="whitepiece"></div><div class="blackpiece"></div><div class="valid-move" (click)="clickMove( 6)"></div></div>
              <div class="square" id="7" ><div class="whitepiece"></div><div class="blackpiece"></div><div class="valid-move" (click)="clickMove( 7)"></div></div>
          </div>
          <div class="row-b">
              <div class="square" id="8" ><div class="whitepiece"></div><div class="blackpiece"></div><div class="valid-move" (click)="clickMove( 8)"></div></div>
              <div class="square" id="9" ><div class="whitepiece"></div><div class="blackpiece"></div><div class="valid-move" (click)="clickMove( 9)"></div></div>
              <div class="square" id="10"><div class="whitepiece"></div><div class="blackpiece"></div><div class="valid-move" (click)="clickMove(10)"></div></div>
              <div class="square" id="11"><div class="whitepiece"></div><div class="blackpiece"></div><div class="valid-move" (click)="clickMove(11)"></div></div>
              <div class="square" id="12"><div class="whitepiece"></div><div class="blackpiece"></div><div class="valid-move" (click)="clickMove(12)"></div></div>
              <div class="square" id="13"><div class="whitepiece"></div><div class="blackpiece"></div><div class="valid-move" (click)="clickMove(13)"></div></div>
              <div class="square" id="14"><div class="whitepiece"></div><div class="blackpiece"></div><div class="valid-move" (click)="clickMove(14)"></div></div>
              <div class="square" id="15"><div class="whitepiece"></div><div class="blackpiece"></div><div class="valid-move" (click)="clickMove(15)"></div></div>
          </div>
          <div class="row-a">
              <div class="square" id="16"><div class="whitepiece"></div><div class="blackpiece"></div><div class="valid-move" (click)="clickMove(16)"></div></div>
              <div class="square" id="17"><div class="whitepiece"></div><div class="blackpiece"></div><div class="valid-move" (click)="clickMove(17)"></div></div>
              <div class="square" id="18"><div class="whitepiece"></div><div class="blackpiece"></div><div class="valid-move" (click)="clickMove(18)"></div></div>
              <div class="square" id="19"><div class="whitepiece"></div><div class="blackpiece"></div><div class="valid-move" (click)="clickMove(19)"></div></div>
              <div class="square" id="20"><div class="whitepiece"></div><div class="blackpiece"></div><div class="valid-move" (click)="clickMove(20)"></div></div>
              <div class="square" id="21"><div class="whitepiece"></div><div class="blackpiece"></div><div class="valid-move" (click)="clickMove(21)"></div></div>
              <div class="square" id="22"><div class="whitepiece"></div><div class="blackpiece"></div><div class="valid-move" (click)="clickMove(22)"></div></div>
              <div class="square" id="23"><div class="whitepiece"></div><div class="blackpiece"></div><div class="valid-move" (click)="clickMove(23)"></div></div>
          </div>
          <div class="row-b">
              <div class="square" id="24"><div class="whitepiece"></div><div class="blackpiece"></div><div class="valid-move" (click)="clickMove(24)"></div></div>
              <div class="square" id="25"><div class="whitepiece"></div><div class="blackpiece"></div><div class="valid-move" (click)="clickMove(25)"></div></div>
              <div class="square" id="26"><div class="whitepiece"></div><div class="blackpiece"></div><div class="valid-move" (click)="clickMove(26)"></div></div>
              <div class="square" id="27"><div class="whitepiece"></div><div class="blackpiece"></div><div class="valid-move" (click)="clickMove(27)"></div></div>
              <div class="square" id="28"><div class="whitepiece"></div><div class="blackpiece"></div><div class="valid-move" (click)="clickMove(28)"></div></div>
              <div class="square" id="29"><div class="whitepiece"></div><div class="blackpiece"></div><div class="valid-move" (click)="clickMove(29)"></div></div>
              <div class="square" id="30"><div class="whitepiece"></div><div class="blackpiece"></div><div class="valid-move" (click)="clickMove(30)"></div></div>
              <div class="square" id="31"><div class="whitepiece"></div><div class="blackpiece"></div><div class="valid-move" (click)="clickMove(31)"></div></div>
          </div>
          <div class="row-a">
              <div class="square" id="32"><div class="whitepiece"></div><div class="blackpiece"></div><div class="valid-move" (click)="clickMove(32)"></div></div>
              <div class="square" id="33"><div class="whitepiece"></div><div class="blackpiece"></div><div class="valid-move" (click)="clickMove(33)"></div></div>
              <div class="square" id="34"><div class="whitepiece"></div><div class="blackpiece"></div><div class="valid-move" (click)="clickMove(34)"></div></div>
              <div class="square" id="35"><div class="whitepiece"></div><div class="blackpiece"></div><div class="valid-move" (click)="clickMove(35)"></div></div>
              <div class="square" id="36"><div class="whitepiece"></div><div class="blackpiece"></div><div class="valid-move" (click)="clickMove(36)"></div></div>
              <div class="square" id="37"><div class="whitepiece"></div><div class="blackpiece"></div><div class="valid-move" (click)="clickMove(37)"></div></div>
              <div class="square" id="38"><div class="whitepiece"></div><div class="blackpiece"></div><div class="valid-move" (click)="clickMove(38)"></div></div>
              <div class="square" id="39"><div class="whitepiece"></div><div class="blackpiece"></div><div class="valid-move" (click)="clickMove(39)"></div></div>

          </div>
          <div class="row-b">
              <div class="square" id="40"><div class="whitepiece"></div><div class="blackpiece"></div><div class="valid-move" (click)="clickMove(40)"></div></div>
              <div class="square" id="41"><div class="whitepiece"></div><div class="blackpiece"></div><div class="valid-move" (click)="clickMove(41)"></div></div>
              <div class="square" id="42"><div class="whitepiece"></div><div class="blackpiece"></div><div class="valid-move" (click)="clickMove(42)"></div></div>
              <div class="square" id="43"><div class="whitepiece"></div><div class="blackpiece"></div><div class="valid-move" (click)="clickMove(43)"></div></div>
              <div class="square" id="44"><div class="whitepiece"></div><div class="blackpiece"></div><div class="valid-move" (click)="clickMove(44)"></div></div>
              <div class="square" id="45"><div class="whitepiece"></div><div class="blackpiece"></div><div class="valid-move" (click)="clickMove(45)"></div></div>
              <div class="square" id="46"><div class="whitepiece"></div><div class="blackpiece"></div><div class="valid-move" (click)="clickMove(46)"></div></div>
              <div class="square" id="47"><div class="whitepiece"></div><div class="blackpiece"></div><div class="valid-move" (click)="clickMove(47)"></div></div>
          </div>
          <div class="row-a">
              <div class="square" id="48"><div class="whitepiece"></div><div class="blackpiece"></div><div class="valid-move" (click)="clickMove(48)"></div></div>
              <div class="square" id="49"><div class="whitepiece"></div><div class="blackpiece"></div><div class="valid-move" (click)="clickMove(49)"></div></div>
              <div class="square" id="50"><div class="whitepiece"></div><div class="blackpiece"></div><div class="valid-move" (click)="clickMove(50)"></div></div>
              <div class="square" id="51"><div class="whitepiece"></div><div class="blackpiece"></div><div class="valid-move" (click)="clickMove(51)"></div></div>
              <div class="square" id="52"><div class="whitepiece"></div><div class="blackpiece"></div><div class="valid-move" (click)="clickMove(52)"></div></div>
              <div class="square" id="53"><div class="whitepiece"></div><div class="blackpiece"></div><div class="valid-move" (click)="clickMove(53)"></div></div>
              <div class="square" id="54"><div class="whitepiece"></div><div class="blackpiece"></div><div class="valid-move" (click)="clickMove(54)"></div></div>
              <div class="square" id="55"><div class="whitepiece"></div><div class="blackpiece"></div><div class="valid-move" (click)="clickMove(55)"></div></div>

          </div>
          <div class="row-b">
              <div class="square" id="56"><div class="whitepiece"></div><div class="blackpiece"></div><div class="valid-move" (click)="clickMove(56)"></div></div>
              <div class="square" id="57"><div class="whitepiece"></div><div class="blackpiece"></div><div class="valid-move" (click)="clickMove(57)"></div></div>
              <div class="square" id="58"><div class="whitepiece"></div><div class="blackpiece"></div><div class="valid-move" (click)="clickMove(58)"></div></div>
              <div class="square" id="59"><div class="whitepiece"></div><div class="blackpiece"></div><div class="valid-move" (click)="clickMove(59)"></div></div>
              <div class="square" id="60"><div class="whitepiece"></div><div class="blackpiece"></div><div class="valid-move" (click)="clickMove(60)"></div></div>
              <div class="square" id="61"><div class="whitepiece"></div><div class="blackpiece"></div><div class="valid-move" (click)="clickMove(61)"></div></div>
              <div class="square" id="62"><div class="whitepiece"></div><div class="blackpiece"></div><div class="valid-move" (click)="clickMove(62)"></div></div>
              <div class="square" id="63"><div class="whitepiece"></div><div class="blackpiece"></div><div class="valid-move" (click)="clickMove(63)"></div></div>
          </div>
      </div>
      <div class="chatbox">
            <div class="chatform">
                <message-list [messages]="messages"></message-list>
                <message-form [message]="message" [messages]="messages"></message-form>
            </div>
      </div>
<!--
      <div class="chatbox">
          <div class="chatheader">
              <h1 style="text-align: center;">Messages</h1>
          </div>
          <div class="message-window">
IMPLEMENT IN ANGULAR
var scrollDiv = document.getElementById("scrollDiv");
scrollDiv.scrollTop = scrollDiv.scrollHeight;
->
              <div id="scrollDiv" class="messages-or-something">
                  <div class="message">
                      <b>Batman: </b><em>Then why do you want to kill me?</em>
                  </div>
                  <div class="message">
                      <b>Joker: </b>*giggles*<em> I don't, I don't want to kill you! What would I do without you? Go back to ripping off mob dealers? No, no, NO! No. You... you... complete me. </em>
                  </div>
                  <div class="message">
                      <b>Batman: </b><em> You're garbage who kills for money.  </em>
                  </div>
                  <div class="message">
                      <b>Joker: </b><em> Don't talk like one of them. You're not! Even if you'd like to be. To them, you're just a freak, like me! They need you right now, but when they don't, they'll cast you out, like a leper! You see, their morals, their code, it's a bad joke. Dropped at the first sign of trouble. They're only as good as the world allows them to be. I'll show you. When the chips are down, these... these civilized people, they'll eat each other. See, I'm not a monster. I'm just ahead of the curve.  </em>
                  </div>
              </div>
          </div>
          <form class="type-message" action="#" method="POST">
              <textarea rows="3" placeholder="Your message here" class="text-area" (keyup.enter)="sendMessage()"></textarea>
<! https://stackoverflow.com/questions/8934088/how-to-make-enter-key-in-a-textarea-submit-a-form ->
          </form>
      </div> -->
  </div>
