<!-- Need to add interpolation for gameID -->
<h1 class="reversi" id="reversi">Game #{{gameID}}</h1>
  <div class="container">
      <div class="gameboard">
<!--

The pieces are hidden/unhidden when the boardstate is received. Should be able to call the following for each element in boardstate


Once classes are known, the variables can be updated and this implemented. Remove the 72 lines beneath it.


<div *ngFor="let row of WTF IS THIS VARIABLE">
    <div *ngFor="let col of WTF IS THIS VARIABLE" class="square">
        <div [class.hidden]="VARIABLE !== 1" class="whitepiece"></div>
        <div [class.hidden]="VARIABLE !== 2" class="blackpiece"></div>
        <div [class.hidden]="VARIABLE !== 8" class="valid-move" (click)="sendMove()"></div>
    </div>
</div>

The sendMove() function needs to get the value of the element.

Thus, the value of the element needs to be assigned. This needs to be figured out.

-->
          <div class="row-a" id="0">
              <div class="square"><div class="whitepiece" hidden></div><div class="blackpiece" hidden></div></div>
              <div class="square"><div class="whitepiece" hidden></div><div class="blackpiece" hidden></div></div>
              <div class="square"><div class="whitepiece" hidden></div><div class="blackpiece" hidden></div></div>
              <div class="square"><div class="whitepiece" hidden></div><div class="blackpiece" hidden></div></div>
              <div class="square"><div class="whitepiece" hidden></div><div class="blackpiece" hidden></div></div>
              <div class="square"><div class="whitepiece" hidden></div><div class="blackpiece" hidden></div></div>
              <div class="square"><div class="whitepiece" hidden></div><div class="blackpiece" hidden></div></div>
              <div class="square"><div class="whitepiece" hidden></div><div class="blackpiece" hidden></div></div>
          </div>
          <div class="row-b" id="1">
              <div class="square"><div class="whitepiece" hidden></div><div class="blackpiece" hidden></div></div>
              <div class="square"><div class="whitepiece" hidden></div><div class="blackpiece" hidden></div></div>
              <div class="square"><div class="whitepiece" hidden></div><div class="blackpiece" hidden></div></div>
              <div class="square"><div class="whitepiece" hidden></div><div class="blackpiece" hidden></div></div>
              <div class="square"><div class="whitepiece" hidden></div><div class="blackpiece" hidden></div></div>
              <div class="square"><div class="whitepiece" hidden></div><div class="blackpiece" hidden></div></div>
              <div class="square"><div class="whitepiece" hidden></div><div class="blackpiece" hidden></div></div>
              <div class="square"><div class="whitepiece" hidden></div><div class="blackpiece" hidden></div></div>
          </div>
          <div class="row-a" id="2">
              <div class="square"><div class="whitepiece" hidden></div><div class="blackpiece" hidden></div></div>
              <div class="square"><div class="whitepiece" hidden></div><div class="blackpiece" hidden></div></div>
              <div class="square"><div class="whitepiece" hidden></div><div class="blackpiece" hidden></div></div>
              <div class="square"><div class="whitepiece" hidden></div><div class="blackpiece" hidden></div></div>
              <div class="square"><div class="whitepiece" hidden></div><div class="blackpiece" hidden></div></div>
              <div class="square"><div class="whitepiece" hidden></div><div class="blackpiece" hidden></div></div>
              <div class="square"><div class="whitepiece" hidden></div><div class="blackpiece" hidden></div></div>
              <div class="square"><div class="whitepiece" hidden></div><div class="blackpiece" hidden></div></div>
          </div>
          <div class="row-b" id="3">
              <div class="square"><div class="whitepiece" hidden></div><div class="blackpiece" hidden></div></div>
              <div class="square"><div class="whitepiece" hidden></div><div class="blackpiece" hidden></div></div>
              <div class="square"><div class="whitepiece" hidden></div><div class="blackpiece" hidden></div></div>
              <div class="square"><div class="whitepiece" hidden></div><div class="blackpiece" hidden></div></div>
              <div class="square"><div class="whitepiece" hidden></div><div class="blackpiece" hidden></div></div>
              <div class="square"><div class="whitepiece" hidden></div><div class="blackpiece" hidden></div></div>
              <div class="square"><div class="whitepiece" hidden></div><div class="blackpiece" hidden></div></div>
              <div class="square"><div class="whitepiece" hidden></div><div class="blackpiece" hidden></div></div>
          </div>
          <div class="row-a" id="4">
              <div class="square"><div class="whitepiece" hidden></div><div class="blackpiece" hidden></div></div>
              <div class="square"><div class="whitepiece" hidden></div><div class="blackpiece" hidden></div></div>
              <div class="square"><div class="whitepiece" hidden></div><div class="blackpiece" hidden></div></div>
              <div class="square"><div class="whitepiece" hidden></div><div class="blackpiece" hidden></div></div>
              <div class="square"><div class="whitepiece" hidden></div><div class="blackpiece" hidden></div></div>
              <div class="square"><div class="whitepiece" hidden></div><div class="blackpiece" hidden></div></div>
              <div class="square"><div class="whitepiece" hidden></div><div class="blackpiece" hidden></div></div>
              <div class="square"><div class="whitepiece" hidden></div><div class="blackpiece" hidden></div></div>
          </div>
          <div class="row-b" id="5">
              <div class="square"><div class="whitepiece" hidden></div><div class="blackpiece" hidden></div></div>
              <div class="square"><div class="whitepiece" hidden></div><div class="blackpiece" hidden></div></div>
              <div class="square"><div class="whitepiece" hidden></div><div class="blackpiece" hidden></div></div>
              <div class="square"><div class="whitepiece" hidden></div><div class="blackpiece" hidden></div></div>
              <div class="square"><div class="whitepiece" hidden></div><div class="blackpiece" hidden></div></div>
              <div class="square"><div class="whitepiece" hidden></div><div class="blackpiece" hidden></div></div>
              <div class="square"><div class="whitepiece" hidden></div><div class="blackpiece" hidden></div></div>
              <div class="square"><div class="whitepiece" hidden></div><div class="blackpiece" hidden></div></div>
          </div>
          <div class="row-a" id="6">
              <div class="square"><div class="whitepiece" hidden></div><div class="blackpiece" hidden></div></div>
              <div class="square"><div class="whitepiece" hidden></div><div class="blackpiece" hidden></div></div>
              <div class="square"><div class="whitepiece" hidden></div><div class="blackpiece" hidden></div></div>
              <div class="square"><div class="whitepiece" hidden></div><div class="blackpiece" hidden></div></div>
              <div class="square"><div class="whitepiece" hidden></div><div class="blackpiece" hidden></div></div>
              <div class="square"><div class="whitepiece" hidden></div><div class="blackpiece" hidden></div></div>
              <div class="square"><div class="whitepiece" hidden></div><div class="blackpiece" hidden></div></div>
              <div class="square"><div class="whitepiece" hidden></div><div class="blackpiece" hidden></div></div>
          </div>
          <div class="row-b" id="7">
              <div class="square"><div class="whitepiece" hidden></div><div class="blackpiece" hidden></div></div>
              <div class="square"><div class="whitepiece" hidden></div><div class="blackpiece" hidden></div></div>
              <div class="square"><div class="whitepiece" hidden></div><div class="blackpiece" hidden></div></div>
              <div class="square"><div class="whitepiece" hidden></div><div class="blackpiece" hidden></div></div>
              <div class="square"><div class="whitepiece" hidden></div><div class="blackpiece" hidden></div></div>
              <div class="square"><div class="whitepiece" hidden></div><div class="blackpiece" hidden></div></div>
              <div class="square"><div class="whitepiece" hidden></div><div class="blackpiece" hidden></div></div>
              <div class="square"><div class="whitepiece" hidden></div><div class="blackpiece" hidden></div></div>
          </div>
      </div>
      <div class="chatbox">
          <div class="chatheader">
              <h1 style="text-align: center;">Messages</h1>
          </div>
          <div class="message-window">
<!--
IMPLEMENT IN ANGULAR
var scrollDiv = document.getElementById("scrollDiv");
scrollDiv.scrollTop = scrollDiv.scrollHeight;
-->
              <div id="scrollDiv" class="messages-or-something">
                  <div class="message">
                      <b>Batman: </b><em>Then why do you want to kill me?</em>
                  </div>
                  <div class="message">
                      <b>Joker: </b>*giggles*<em> I don't, I don't want to kill you! What would I do without you? Go back to ripping off mob dealers? No, no, NO! No. You... you... complete me. </em>
                  </div>
                  <div class="message">
                      <b>Batman: </b><em> You're garbage who kills for money.  </em>
                  </div>
                  <div class="message">
                      <b>Joker: </b><em> Don't talk like one of them. You're not! Even if you'd like to be. To them, you're just a freak, like me! They need you right now, but when they don't, they'll cast you out, like a leper! You see, their morals, their code, it's a bad joke. Dropped at the first sign of trouble. They're only as good as the world allows them to be. I'll show you. When the chips are down, these... these civilized people, they'll eat each other. See, I'm not a monster. I'm just ahead of the curve.  </em>
                  </div>
              </div>
          </div>
          <form class="type-message" action="#" method="POST">
              <textarea rows="3" placeholder="Your message here" class="text-area" (keyup.enter)="sendMessage()"></textarea>
<!-- https://stackoverflow.com/questions/8934088/how-to-make-enter-key-in-a-textarea-submit-a-form -->
          </form>
      </div>
  </div>
