body {
    background-color: #27ae60;
}

.one {
    background-color: #1c7d44;
}

.two {
    background-color: #219150;
}

.one, .two {
    min-width: 70px;
    text-align: center;
    position: relative;
}

tr {
    height: 70px;
}
td {
    min-height: 70px;
}

table {
    /* height: 450px; */
    margin: auto;
    border: 1px solid black;
}

.game-board {
    margin: auto;
}

.whitepiece {
    height: 60px;
    width: 60px;
    background-color: white;
    border-radius: 50%;
    border: 1px solid black;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.blackpiece {
    height: 60px;
    width: 60px;
    background-color: black;
    border-radius: 50%;
    border: 1px solid white;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}