<div class="container" *ngIf="loggedIn()">
    <div class="container">
       Player information here.
    </div>
    <div class="join-game card">
        <input type="text" id="join-game-id" [(ngModel)]="newGameID">
        <button class="btn-primary" name="join-button" (click)="joinAGame()">Join Game</button>
        Should be on the same line.
    </div>
    <div class="new-game container" >
        <button class="new-game" (click)="createNewGameFromHome()">CREATE NEW GAME</button>
    </div>
    <div class="container">
        <div class="card" *ngFor="let p of user.players" (click)="loadGame(p.game.id)">
            <a routerLink="../game/{{p.game.id}}">Game #{{p.game.id}}</a>
            Is it your turn?
        </div>
    </div>
</div>
