<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration SYSTEM "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!-- Configure our database -->
		<property name="hibernate.connection.driver_class">oracle.jdbc.OracleDriver</property>
		<property name="hibernate.connection.url">jdbc:oracle:thin:@localhost:1521:xe</property>
		<property name="hibernate.connection.username">pbp_db</property>
		<property name="hibernate.connection.password">p4ssw0rd</property>
		<property name="hibernate.connection.pool_size">35</property>
		
		<property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
		<!-- We can some hibernate specific things -->
		<property name="show_sql">true</property>
		<property name="hibernate.format_sql">true</property>
		<!-- Backwards compatibility for id generation -->
		<property name="hibernate.id.new_generator_mappings">false</property>
		
		<!-- Tell Hibernate that we are mapping classes -->
		<!-- XML -->
		<!-- <mapping resource="HoneyPot.hbm.xml"/> -->
		
		<!-- Annotation -->
		<mapping class="com.revature.beans.UserAccount"/>
		<mapping class="com.revature.beans.Message"/>
<!-- 		<mapping class="com.revature.beans.Configuration"/>
		<mapping class="com.revature.beans.Move"/> -->
		<mapping class="com.revature.beans.Player"/>
		<mapping class="com.revature.beans.Game"/>
		<mapping class="com.revature.beans.Team"/> 

	</session-factory>
</hibernate-configuration>