body {
    background-color: #27ae60;
    padding: 30px;
}

.block-organize {
    display: inline-block; 
    vertical-align: top;
}

h1 {
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 80vh;
    display: inline-flex;
    right: 0;
}

.type-message {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.chatbox {
    margin-left: 15px;
    max-height: 80vh;
    width: 30vh;
    background-color: white;
    vertical-align: top;
    min-width: 200px;
    min-height: 400px;
    position: relative;
}

.message-window {
    overflow-y: auto;
}

.message {
    width: calc(100% - 10px); 
    background: linear-gradient(#d9d9d9, #e6e6e6); 
    
    padding-left: 5px;
    padding-right: 5px;
}

.game {
    display: inline-block;
    right: 0;
    width: 50%;

}

/* .col {
    display: flex;
    flex-direction: column;
} */

.row-a {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-basis: 12.5%;
    flex-grow: 1;
}

.row-b {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-basis: 12.5%;
    flex-grow: 1;

}

.square {
    /* flex: 12.5%; */
    /* flex-grow: 1; */
    flex-basis: 12.5%;
    min-width: 50px;
    min-height: 50px;
    /* height: 100px; */
}

.row-a > .square:nth-child(odd) {
    background-color: #1c7d44;
}

.row-a > .square:nth-child(even){
    background-color: #219150;
}

.row-b > .square:nth-child(even){
    background-color: #1c7d44;
}

.row-b > .square:nth-child(odd){
    background-color: #219150;
}